# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_dbcp2_2_1_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Maven__org_apache_commons_commons_pool2_2_4_2.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_8_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_8_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_jcl_2_8_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_8_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hibernate_hibernate_validator_4_2_0_Final.xml
/.idea/libraries/Maven__org_postgresql_postgresql_9_4_1212.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_1.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_24.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_3_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_2_3_RELEASE.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/myerp-business/target/classes/com/dummy/myerp/business/applicationContext.xml
/myerp-consumer/target/classes/com/dummy/myerp/consumer/applicationContext.xml
/myerp-business/target/test-classes/com/dummy/myerp/testbusiness/business/bootstrapContext.xml
/myerp-business/target/test-classes/log4j2.xml
/myerp-consumer/target/classes/com/dummy/myerp/consumer/sqlContext.xml
/myerp-business/target/classes/com/dummy/myerp/business/transactionContext.xml
